# Compiled output (Angular)
Front/frontendsteamnewhub/dist/
Front/frontendsteamnewhub/tmp/
Front/frontendsteamnewhub/out-tsc/
Front/frontendsteamnewhub/bazel-out/

# Node
Front/frontendsteamnewhub/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Miscellaneous
Front/frontendsteamnewhub/.angular/cache
.sass-cache/
Front/frontendsteamnewhub/connect.lock
Front/frontendsteamnewhub/coverage/
Front/frontendsteamnewhub/libpeerconnection.log
Front/frontendsteamnewhub/testem.log
Front/frontendsteamnewhub/typings/

# System files
.DS_Store
Thumbs.db

### Symfony ###
Back/BackSteam/.env.local
Back/BackSteam/.env
Back/BackSteam/.env.local.php
Back/BackSteam/.env.*.local
Back/BackSteam/config/secrets/prod/prod.decrypt.private.php
Back/BackSteam/public/bundles/
Back/BackSteam/var/
Back/BackSteam/vendor/
Back/BackSteam/node_modules/

### PHPUnit ###
Back/BackSteam/phpunit.xml
Back/BackSteam/.phpunit.result.cache

### Symfony PHPUnit Bridge ###
Back/BackSteam/.phpunit.result.cache
Back/BackSteam/phpunit.xml

### Symfony Asset Mapper ###
Back/BackSteam/public/assets/
Back/BackSteam/assets/vendor/