.card {
    background-color: #0a192f;
    color: white;
    border-radius: 10px;
    overflow: hidden;   
    display: flex;
    flex-direction: column;
    max-height: 300px;
    
    
  }
  
  .photo {
    height: 150px;
    background-size: cover;
    background-position: center;
  }
  
  .footer {
     height: 150px;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .description-scroll {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 120px;
    font-size: 0.9rem;
    color: #ccc;
    scrollbar-width: thin;
  }
  