<footer style="background-color: #07182F; padding: 20px 0; color: white; font-family: 'Orbitron', sans-serif;">
  <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; padding: 0 20px;">
    
    
    <div style="flex: 1; min-width: 150px; display: flex; justify-content: center;" routerLink="/home">
      <img src="logos/logo.png" alt="Steam News Hub Logo" style="height: 60px;">
    </div>

    
    <div style="flex: 1; min-width: 200px; margin-top: 10px;">
      <h4 style="margin-bottom: 10px;">Políticas</h4>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li><a href="#" style="color: white; text-decoration: none;">Aviso Legal</a></li>
        <li><a href="#" style="color: white; text-decoration: none;">Política de privacidad</a></li>
        <li><a href="#" style="color: white; text-decoration: none;">Política de cookies</a></li>
        <li><a href="#" style="color: white; text-decoration: none;">Accesibilidad</a></li>
      </ul>
    </div>

    
    <div style="flex: 1; min-width: 200px; margin-top: 10px;">
      <h4 style="margin-bottom: 10px;">Ayuda</h4>
      <ul style="list-style: none; padding: 0; margin: 0;">
        <li><a  routerLink="/contact" routerLinkActive="active" style="color: white; text-decoration: none;">Contacto</a></li>
      </ul>
    </div>

  </div>

  
  <div style="border-top: 1px solid #1b2d44; margin: 20px auto; width: 90%;"></div>

 
  <div style="text-align: center; font-size: 0.9rem;">
    © 2025 <strong>Steam News Hub</strong>
  </div>
</footer>
