<div class="jumbotron py-5">
  <div class="container">
    <section class="jumbotron-content text-center mb-5">
      <h1 class="display-4">Steam News Hub</h1>
    </section>

    <section id="carouselExampleIndicators" class="carousel slide mb-5" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
      </div>
      <div class="carousel-inner">
        <article class="carousel-item active">
          <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/730/header.jpg" class="d-block w-100" alt="Primera imagen">
        </article>
        <article class="carousel-item">
          <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg" class="d-block w-100" alt="Segunda imagen">
        </article>
        <article class="carousel-item">
          <img src="https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg" class="d-block w-100" alt="Tercera imagen">
        </article>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </section>
  </div>
</div>

<section class="mt-5 container">
  <article>
    <h2 class="h3">¿Quiénes Somos?</h2>
    <p>
      Somos una empresa que quiere ayudar a los jugadores a encontrar las mejores noticias de sus juegos favoritos. Nos dedicamos a recopilar y presentar la información más relevante de la comunidad gamer, para que puedas estar al tanto de todo lo que sucede en el mundo de los videojuegos.
    </p>
  </article>

  <article class="mt-5">
    <h2 class="h3">¿Cómo funciona la página web?</h2>
    <p>
      La página web funciona de la siguiente manera: un usuario puede iniciar sesión o no. Si no lo hace, al buscar noticias de un juego, verá solamente las noticias disponibles mediante su AppID. Si el usuario inicia sesión, podrá dar "like" a las noticias que le gusten y guardarlas en favoritos. Así podrá verlas fácilmente y no perderse de nada importante.
    </p>
  </article>
</section>
