.jumbotron {
    background-color: #171a21;
    color: #fff;
    padding: 6rem 2rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
  }
  
  .jumbotron h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  .carousel-inner img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
  }
  
  .carousel {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  body {
    background-color: #000;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  