<body>
  <div id="Productos">
    <section>
      <h1>Productos</h1>

      <h2>Buscar noticias por AppID</h2>

      <form (ngSubmit)="buscarJuego()">
        <input type="text" [(ngModel)]="appidInput" name="nombreJuego" placeholder="Introduce el nombre del juego" required />
        <button type="submit">Buscar</button>
      </form>
      <button type="button" (click)="volver()">Volver</button>
    </section>

   
    @if(isLoggedIn === false) {
      @if (Buscado === true) {
        <section class="card-container">
          <div class="row g-3">
            @for (product of productosFiltrados; track product.title) {
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products 
                  [titulo]="product.title"
                  [descripcion]="product.contents"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/' + appidInput + '/header.jpg)'">
                </app-card-products>
              </article>
            }
          </div>
        </section>
      }

      @if (Buscado === false) {
        <section>
          <h2>Juegos Más Buscados</h2>

          <div class="card-container">
            <div class="row g-3">
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products
                  [titulo]="titulo1"
                  [descripcion]="descripcion1"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg)'">
                  
                </app-card-products>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products
                  [titulo]="titulo2"
                  [descripcion]="descripcion2"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg)'">
                </app-card-products>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products
                  [titulo]="titulo3"
                  [descripcion]="descripcion3"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg)'">
                </app-card-products>
              </article>
            </div>
          </div>

          <div class="card-container">
            <div class="row g-3">
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products
                  [titulo]="titulo4"
                  [descripcion]="descripcion4"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg)'">
                </app-card-products>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products
                  [titulo]="titulo5"
                  [descripcion]="descripcion5"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg)'">
                </app-card-products>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-card-products
                  [titulo]="titulo6"
                  [descripcion]="descripcion6"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg)'">
                </app-card-products>
              </article>
            </div>
          </div>
        </section>
      }
    }

    
    @if(isLoggedIn === true) {
      @if (Buscado === true) {
        <section class="card-container">
          <div class="row g-3">
            @for (product of productosFiltrados; track product.title) {
              <article class="col-12 col-md-6 col-lg-4">
                <app-cardfav 
                  [titulo]="product.title"
                  [descripcion]="product.contents"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/' + appidInput + '/header.jpg)'"
                  [gameId]="appidInput"
                 (favoriteToggled)="addToFavorites($event)"
                 >
                </app-cardfav>
              </article>
            }
          </div>
        </section>
      }

      @if (Buscado === false) {
        <section>
          <h2>Juegos Más Buscados</h2>

          <div class="card-container">
            <div class="row g-3">
              <article class="col-12 col-md-6 col-lg-4">
                <app-cardfav
                  [titulo]="titulo1"
                  [descripcion]="descripcion1"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg)'"
                  [gameId]="420"
                 (favoriteToggled)="addToFavorites($event)"
                 >
                </app-cardfav>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-cardfav
                  [titulo]="titulo2"
                  [descripcion]="descripcion2"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg)'"
                  [gameId]="420"
                 (favoriteToggled)="addToFavorites($event)"
                >
                </app-cardfav>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-cardfav
                  [titulo]="titulo3"
                  [descripcion]="descripcion3"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/420/header.jpg)'"
                  [gameId]="420"
                 (favoriteToggled)="addToFavorites($event)"
                 >
                </app-cardfav>
              </article>
            </div>
          </div>

          <div class="card-container">
            <div class="row g-3">
              <article class="col-12 col-md-6 col-lg-4">
               <app-cardfav
                 [titulo]="titulo1"
                [descripcion]="descripcion1"
                 [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg)'"
                 [gameId]="440"
                 (favoriteToggled)="addToFavorites($event)"
                 >
                  </app-cardfav>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-cardfav
                  [titulo]="titulo5"
                  [descripcion]="descripcion5"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg)'"
                  [gameId]="440"
                 (favoriteToggled)="addToFavorites($event)"
                 >
                </app-cardfav>
              </article>
              <article class="col-12 col-md-6 col-lg-4">
                <app-cardfav
                  [titulo]="titulo6"
                  [descripcion]="descripcion6"
                  [foto]="'url(https://cdn.cloudflare.steamstatic.com/steam/apps/440/header.jpg)'"
                  [gameId]="440"
                 (favoriteToggled)="addToFavorites($event)"
                >
                </app-cardfav>
              </article>
            </div>
          </div>
        </section>
      }
    }

    @if (Buscado && productosFiltrados.length === 0) {
      <div class="no-info">
        No hay información disponible para este Juego.
      </div>
    }
  </div>
</body>
