
  #Productos {
    padding: 4rem 2rem;
  }
  
 
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px; 
    margin-top: 2rem;
    overflow-x: auto; 
    padding: 1rem;
    max-width: 100%;
    
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }