/* Fondo y fuente global */
body {
    background-color: #000;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Contenedor general */
  #Productos {
    padding: 4rem 2rem;
  }
  
  /* Contenedor de tarjetas */
  .card-container {
    display: flex;
    flex-wrap: nowrap; /* Que no se bajen a otra línea */
    justify-content: center;
    gap: 50px; /* Separación entre tarjetas */
    margin-top: 2rem;
    overflow-x: auto; /* Para que puedas hacer scroll si se salen del ancho */
    padding: 1rem;
  }
  