<div class="container">
    <h1 style="color: #ffff;" >Log In</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="registrarUsuario()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="email" style="color: #ffff;">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control"/>
      </div>
  
      <div class="form-group">
        <label for="password" style="color: #ffff;">Contraseña:</label>
        <input type="password" id="password" formControlName="password" class="form-control"/>
      </div>
  
      <button type="submit" class="btn-primary">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
  </div>