<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a192f;">
  <div class="container-fluid">
    
    <a class="navbar-brand text-white" routerLink="/home">
      <img src="logos/logo.png" alt="Logo de Steam News Hub" width="40" />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto text-start">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link text-white">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/juegos" routerLinkActive="active" class="nav-link text-white">Juegos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active" class="nav-link text-white">Contacto</a>
        </li>
        
        @if(isLoggedIn === false) {
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link text-white">Inicio de Sesión</a>
          </li>
        }
        @if(isLoggedIn === true) {
          <li class="nav-item">
            <a routerLink="/perfil" routerLinkActive="active" class="nav-link text-white">Hola, {{ nombre }}</a>
          </li>
          <li class="nav-item">
            <a (click)="logout()" class="nav-link text-white" style="cursor: pointer;">Cerrar Sesión</a>
          </li>
        }
      </ul>
    </div>
    
  </div>
</nav>



















